html {
    height: 100%;
    /* overflow: hidden; */
}
body{
    height: 100%;
    background-color: rgb(10, 120, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    overflow: hidden;
}
main{
    background-color: white;
    width: 80%;
    height: 75%;    
    padding: 10px; 
    border-radius: 10px;
    position: relative; 
    overflow: hidden;  
}
ul{
    list-style-type: none;
    position: absolute;
    bottom: 40px;
    width: 92%;
    max-height: 90%;
    overflow-y: auto;
    /* margin-left: 0;   */
     padding:.5%; 
}    
li{
    list-style-type: none;
}
input{
    position: absolute;
    bottom: 0;     
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
button{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-right : 25px;
}

@media only screen and (max-width: 1050px) {

    ul{
        padding:1%;
    }

    button {
        width: 20%;
        margin-right: 10px;
    }


}