html {
    height: 100%;
    /* overflow: hidden; */
}

body {
    height: 100%;
    background-color: rgb(10, 120, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow: auto;
    overflow-x: hidden;
}

.header {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    justify-content: center;
    text-align: center;
    width: 81%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 40px;
}

.chat {
    background-color: white;
    width: 60%;
    height: 75%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.users {
    width: 15%;
    background-color: white;
    height: 75%;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#messages {
    list-style-type: none;
    position: absolute;
    bottom: 40px;
    width: 95%;
    max-height: 90%;
    overflow-y: auto;
    /* margin-left: 0;   */
    padding: .5%;
}

#messages>li {
    list-style-type: none;
}

/* li{
    list-style-type: none;
} */
input {
    position: absolute;
    bottom: 0;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-right: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


@media only screen and (max-width: 1050px) {


    .header {
        margin-top: 20px;
        width: 90%;
        padding: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 10px;
    }

    .chat {
        margin-top: 20px;
        width: 90%;
        height: 95%;
    }

    .users {
        width: 90%;
        padding: 20px;
        height: fit-content;
        margin: auto;
        margin-bottom: 4%;
    }



    #users {
        margin: auto;
    }

    ul {
        padding: 1%;
    }

    button {
        width: 20%;
        margin-right: 10px;
    }

}